<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wishlist app</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  {% load static %}
  <link rel="stylesheet" href="{% static 'email_and_registration/css/styles.css' %}">
  <style>
    .align-right {
      text-align: right;
      margin-top: 40px;
    }
    .nav {
      float: right;
      margin: 20px 0;
    }
  </style>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

  {% include 'email_and_registration/_navbar.html' %}

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{user.name}}'s Dashboard</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {% include 'email_and_registration/_messages.html' with messages=messages %}
      </div>
    </div>

    <div class="row">
      <div class="col-md-10">
        <div class="user-wishlist">
          <h3>Your wishlist:</h3>
          <table class="table">
            <thead>
              <tr>
                <th>Item</th>
                <th>Added by</th>
                <th>Date added</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for item in user.wish_items.all %}
                <tr>
                  <td>
                    <a href="{% url 'wish_items:show_item' id=item.id %}">{{item.name}}</a>
                  </td>
                  <td>{{item.user_id.name}}</td>
                  <td>{{item.created_at}}</td>
                  <td>
                    {% if item.user_id.id == request.session.user_id %}
                      <form action="{% url 'wish_items:delete_item' id=item.id %}">
                        {% csrf_token %}
                        <input type="submit" value="Delete" class="btn btn-link">
                      </form>
                    {% else %}
                      <form action="{% url 'wish_items:remove_item' id=item.id %}">
                        {% csrf_token %}
                        <input type="submit" value="Remove from wishlist" class="btn btn-link">
                      </form>
                    {% endif %}

                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10">
        <div class="other-user-wishlist">
          <h3>Other users wishlist: (not 100% correct :( )</h3>
          <table class="table">
            <thead>
              <tr>
                <th>Item</th>
                <th>Added by</th>
                <th>Date added</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for item in all_wish_items %}
                <tr>
                  <td>
                    <a href="{% url 'wish_items:show_item' id=item.id %}">{{item.name}}</a>
                  </td>
                  <td>{{item.user_id.name}}</td>
                  <td>{{item.created_at}}</td>
                  <td>
                    <form action="{% url 'wish_items:add_item' id=item.id %}">
                      {% csrf_token %}
                      <input type="submit" value="Add to wishlist" class="btn btn-link">
                    </form>

                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="align-right">
          <a href="{% url 'wish_items:new' %}">Add new item</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
