<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  {% load static %}
  <link rel="stylesheet" href="{% static 'email_and_registration/css/styles.css' %}">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="container">
    <h1>Change me...</h1>

    <br>

    <div class="row">
      <div class="col-md-12">
        {% include 'email_and_registration/_messages.html' with messages=messages %}
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="register-container">
          <h3>Register</h3>
          <div class="well">
            <form action="{% url 'users:register_user' %}" method="POST" class="form">
              {% csrf_token %}
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <input type="text" name="first_name" class="form-control" placeholder="First name...">
                  </div>
                  <div class="col-md-6">
                    <input type="text" name="last_name" class="form-control" placeholder="Last name...">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" name="email" class="form-control" placeholder="Email...">
              </div>
              <div class="form-group">
                <input type="text" name="password" class="form-control" placeholder="Password...">
              </div>
              <div class="form-group">
                <input type="text" name="password_conf" class="form-control" placeholder="Password confirmation...">
              </div>
              <div class="form-group">
                <input type="date" name="date_hired" class="form-control">
              </div>
              <input type="submit" value="Submit" class="btn btn-primary">
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="login-container">
          <h3>Login</h3>
          <div class="well">
            <form action="{% url 'users:login_user' %}" method="POST" class="form">
              {% csrf_token %}
              <div class="form-group">
                <input type="text" name="email" class="form-control" placeholder="Email...">
              </div>
              <div class="form-group">
                <input type="text" name="password" class="form-control" placeholder="Password...">
              </div>
              <input type="submit" value="Submit" class="btn btn-primary">
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="row">
      <div class="col-md-6">
        {% for user in users %}
          <p>{{user.first_name}} {{user.last_name}} | {{user.email}} | {{user.password}}</p>
        {% endfor %}
      </div>
    </div> -->

  </div>

</body>
</html>
